<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

	<display-name>HackathonV2</display-name>

	<welcome-file-list>
		<welcome-file>paginas/principal.xhtml</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>AdminFiltro</filter-name>
		<filter-class>com.stefanini.hackathon2.filters.AdminFiltro</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>AdminFiltro</filter-name>
		<url-pattern>/restricted/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>LivroFiltro</filter-name>
		<filter-class>com.stefanini.hackathon2.filters.LivroFiltro</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>LivroFiltro</filter-name>
		<url-pattern>/restricted/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>FuncionarioFiltro</filter-name>
		<filter-class>com.stefanini.hackathon2.filters.FuncionarioFiltro</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>FuncionarioFiltro</filter-name>
		<url-pattern>/restricted/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>PessoaFiltro</filter-name>
		<filter-class>com.stefanini.hackathon2.filters.PessoaFiltro</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>PessoaFiltro</filter-name>
		<url-pattern>/restricted/*</url-pattern>
	</filter-mapping>
	
	<context-param>
	   <param-name>primefaces.FONT_AWESOME</param-name>
	   <param-value>true</param-value>
	</context-param>

</web-app>